* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 80vh;
}
.sign-in-page {
  width: 100%;
  margin-bottom: 30px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(150, 211, 230, 0.8);
}

h3 {
  padding: 0.3rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
.user {
  border-bottom: 2px solid rgb(238, 154, 154);
  text-align: center;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel img {
  height: 250px;
  padding: 10px;
  width: 300px;
  margin: 5rem;
  border-radius: 30%;
}
.carousel a {
  margin: 0 auto;
}
.tag:hover {
  transform: translateY(5%);
  transition: ease-in-out linear 1s;
}
.btn:hover {
  transform: translateX(1%);
  opacity: 0.8;
}
#coma {
  font-size: 2rem;
  font-weight: 400;
  color: grey;
}

#count {
  position: absolute;
  top: 10%;
}
@media only screen and (max-width: 900px) {
  #count {
    position: absolute;
    top: 60%;
  }
  .carousel img {
    height: 200px;
    padding: 10px;
    width: 200px;
    margin: 3rem;
    border-radius: 30%;
  }
  .carousel-caption {
    position: absolute;
    top: -15%;
    margin-top: 10px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../src/Components/Image/pexels-huseyn-kamaladdin-667838.jpg")
    no-repeat center center/cover;
}

.banner {
  text-align: center;
  background: rgba(6, 119, 240, 0.2);
  display: inline-block;
  height: inherit;
  width: 100%;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;

  margin: 5rem 0 1rem;
  color: #fff;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: rgb(230, 153, 123);
  font-size: 1rem;
  border: 1px solid rgb(97, 164, 226);
  transition: all 0.3s linear;
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: coral;
  font-weight: 600;
}
